@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f6fafe;
    --foreground: #171717;
    --primary: #0d71c9;
    --primaryDark: #0B61AD;
    --primaryLight: #D9ECFD;
    --primaryLighter: #ECF5FE;
    --secondary: #0216261f;
    --danger: #f23148;
    --darkBlue: #021626;
    --darkBlue4: #0216260A;
    --darkBlue12: #0216261F;
    --lightGray: #02162680;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
